**/.env
db.sqlite3
db.sqlite3-journal
target/
venv/
README.md
*.log
local_settings.py
pip-log.txt
pip-delete-this-directory.txt
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
__pycache__/
*.py[cod]
*$py.class
*.so



